.bad-good {
  font-family: "geometria", Arial, sans-serif;
  font-weight: 400;
  color: #000000;
  margin: 0;
  font-size: 14px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  background-color: #f6f5f3;
  input,
  textarea,
  select {
    font-size: 14px;
  }
  img {
    width: 100%;
    height: auto;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }
}
.bad-good__wrapper {
  position: relative;
  z-index: 1; }
@media (max-width: 767px) {
  .bad-good__wrapper {
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 768px) {
  .bad-good__wrapper {
    padding-left: 20px;
    padding-right: 20px; } }
@media (max-width: 767px) {
  .bad-good__wrapper {
    padding-top: 68px;
    padding-bottom: 75px; } }
@media (min-width: 768px) {
  .bad-good__wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-top: 52px;
    padding-bottom: 49px; } }
@media (min-width: 1200px) {
  .bad-good__wrapper {
    max-width: 1200px;
    padding-top: 75px;
    padding-bottom: 70px; } }
@media (min-width: 768px) {
  .bad-good__wrapper::after {
    position: absolute;
    z-index: -1;
    content: "";
    top: 0;
    right: -1122px;
    width: 1252px;
    height: 2912px;
    background-position: 0 0;
    background-size: 1252px auto;
    background-image: url("/image/catalog/petrov/wood-pattern.svg"); } }
@media (min-width: 1200px) {
  .bad-good__wrapper::after {
    height: 2824px;
    right: -1022px; } }

.bad-good__title {
  font-weight: 400 !important;
  text-transform: none !important;
  font-family: "geometria", Arial, sans-serif !important;
  line-height: normal !important;
  margin-bottom: 0 !important; }
@media (max-width: 767px) {
  .bad-good__title {
    font-size: 22px !important;
    letter-spacing: .5px !important;
    margin-top: 0;
    text-align: center; } }
@media (min-width: 768px) {
  .bad-good__title {
    font-size: 40px !important;
    margin-top: 10px !important;
    max-width: 1075px;
    margin-left: auto;
    margin-right: auto; } }
@media (min-width: 1200px) {
  .bad-good__title {
    font-size: 45px !important;
    margin-top: 12px !important; } }

.bad-good__container {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto; }
@media (max-width: 767px) {
  .bad-good__container {
    max-width: 500px;
    padding: 30px 10px 0 10px;
    margin-top: 28px; } }
@media (min-width: 768px) {
  .bad-good__container {
    max-width: 1075px;
    -webkit-box-shadow: 2px 2px 21px 0 rgba(176, 173, 168, 0.4);
    box-shadow: 2px 2px 21px 0 rgba(176, 173, 168, 0.4);
    padding: 39px 49px 26px 49px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative; } }
@media (min-width: 1200px) {
  .bad-good__container {
    margin-top: 45px;
    padding: 55px 70px 37px 70px; } }
.bad-good__container::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 150px;
  width: 3px;
  height: 280px;
  background-color: #f5f5f3;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

@media (max-width: 767px) {
  .bad-good__field {
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px; } }

@media (min-width: 768px) {
  .bad-good__field {
    max-width: 450px; } }

@media (max-width: 767px) {
  .bad-good__field--bad {
    position: relative; } }

@media (min-width: 768px) {
  .bad-good__field--bad {
    padding-right: 35px; } }

@media (min-width: 1200px) {
  .bad-good__field--bad {
    padding-right: 50px; } }

@media (max-width: 767px) {
  .bad-good__field--bad::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #e4e1dc; } }

@media (min-width: 768px) {
  .bad-good__field--good {
    padding-left: 35px; } }

@media (min-width: 1200px) {
  .bad-good__field--good {
    padding-left: 50px; } }

@media (max-width: 767px) {
  .bad-good__subtitle {
    display: block;
    font-size: 14px;
    color: #000000;
    padding-top: 25px;
    margin-bottom: 30px; } }

@media (min-width: 768px) {
  .bad-good__subtitle {
    display: none; } }

.bad-good__img-field {
  position: relative; }
.bad-good__img-field::before {
  position: absolute;
  content: "";
  left: 0;
  top: 10px;
  background-color: #a9907a;
  background-repeat: no-repeat;
  background-position: center; }
@media (max-width: 767px) {
  .bad-good__img-field::before {
    width: 40px;
    height: 40px;
    background-size: 26px 26px; } }
@media (min-width: 768px) {
  .bad-good__img-field::before {
    width: 57px;
    height: 55px;
    background-size: 38px 38px; } }
@media (min-width: 1200px) {
  .bad-good__img-field::before {
    width: 57px;
    height: 55px;
    background-size: 38px 38px; } }

.bad-good__img-field--bad::before {
  background-image: url("/image/catalog/petrov/smile--no.svg");
  -webkit-box-shadow: 0 3px 13px 0 #ff0000;
  box-shadow: 0 3px 13px 0 #ff0000; }

.bad-good__img-field--good::before {
  background-image: url("/image/catalog/petrov/smile--yes.svg");
  -webkit-box-shadow: 0 3px 13px 0 #048c1a;
  box-shadow: 0 3px 13px 0 #048c1a; }

.bad-good__list {
  padding-left: 0; }
@media (max-width: 767px) {
  .bad-good__list {
    margin-top: 15px; } }
@media (min-width: 768px) {
  .bad-good__list {
    margin-top: 28px; } }
@media (min-width: 1200px) {
  .bad-good__list {
    margin-top: 40px; } }

.bad-good__item {
  position: relative;
  font-family: "old-standard-tt", Times, serif;
  font-weight: 400;
  color: #8b623d; }
@media (max-width: 767px) {
  .bad-good__item {
    font-size: 20px;
    line-height: 24px;
    margin-top: 8px;
    padding-left: 28px; } }
@media (min-width: 768px) {
  .bad-good__item {
    font-size: 18px;
    line-height: 22px;
    margin-top: 7px;
    padding-left: 20px; } }
@media (min-width: 1200px) {
  .bad-good__item {
    font-size: 22px;
    line-height: 26px;
    margin-top: 10px;
    padding-left: 28px; } }
.bad-good__item::after {
  position: absolute;
  content: "";
  left: 0;
  height: 1px;
  background-color: #8b623d; }
@media (max-width: 767px) {
  .bad-good__item::after {
    top: 14px;
    width: 17px; } }
@media (min-width: 768px) {
  .bad-good__item::after {
    top: 12px;
    width: 12px; } }
@media (min-width: 1200px) {
  .bad-good__item::after {
    top: 15px;
    width: 17px; } }

.bad-good__read-more {
  text-align: center;
  display: block; }
@media (max-width: 767px) {
  .bad-good__read-more {
    margin-top: 45px;
    font-size: 16px; } }
@media (min-width: 768px) {
  .bad-good__read-more {
    margin-top: 28px;
    font-size: 14px; } }
@media (min-width: 1200px) {
  .bad-good__read-more {
    margin-top: 40px;
    font-size: 16px; } }

.bad-good__read-more-btn-field {
  margin-left: auto;
  margin-right: auto; }
@media (max-width: 767px) {
  .bad-good__read-more-btn-field {
    max-width: 350px;
    margin-top: 23px; } }
@media (min-width: 768px) {
  .bad-good__read-more-btn-field {
    width: 309px;
    margin-top: 28px; } }
@media (min-width: 1200px) {
  .bad-good__read-more-btn-field {
    margin-top: 40px; } }

.bad-good__read-more-btn {
  color: #ffffff;
  font-size: 14px;
  background-color: #000;
  height: 60px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "geometria", Arial, sans-serif !important;
  border: 1px solid #000000;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
.bad-good__read-more-btn:hover {
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000; }